<h1 class="page-header">Register</h1>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
      <label for="">Name:</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="">User Name:</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="">Email:</label>
    <input type="text" [ngModel]="email" name="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="">Password</label>
    <input type="text" [(ngModel)]="password" name="password" class="form-control" id="password">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
