<div class="jumbotron text-center">
  <h1>Mean Auth App</h1>
  <p class="lead"> Welcome to MEAN Auth app from scratch</p>
  <div >
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> 
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h1>Express Back-End</h1>
    <p>Using Node.js in Back-Endto built a robust RestFUl webservices in express,mongoose !! </p>
  </div>
  <div class="col-md-4">
    <h1>Angular-Cli</h1>
    <p>Angular 4, Typescript used to build Register and Login !!</p>
  </div>
  <div class="col-md-4">
    <h1>JSON Web Token</h1>
    <p>JSON web Token have been used for token based authentication !!/p>
  </div>
</div>